<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true"
			 logFile="proxylog.txt"
			 logLevel="Error">
    <serverUrls>
		<serverUrl url="https://services.arcgisonline.com"
                   matchAll="false"/>
		<serverUrl url="https://server.arcgisonline.com"
                   matchAll="false"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
<!-- Or https://github.com/sverkerEsriSE/resource-proxy-tokens -->
