<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true"
			 logFile="proxylog.txt"
			 logLevel="Error">
    <serverUrls>
		<serverUrl url="https://services.arcgisonline.com"
                   matchAll="false"/>
		<serverUrl url="https://server.arcgisonline.com"
                   matchAll="false"/>
		   
		<!-- Most common use: Lantmäteriets WMS. Sample config. Replace with your own values -->
		<serverUrl url="http://maps.lantmateriet.se/topowebb/wms/v1"
                             key="mySecretTopoWebbAccessKey"
                             username="user0000"
                             password="xxXXxxXXxx"
                             wmsResourceRewrite="true"
                             matchAll="true"
                             httpBasicAuth="true"
			     changeEncodingToUTF8="true"
                             >
		</serverUrl>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
<!-- Or https://github.com/sverkerEsriSE/resource-proxy-tokens -->
